[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
[submodule "LowkeyTeaLLM/sherpa-onnx"]
	path = LowkeyTeaLLM/sherpa-onnx
	url = https://github.com/k2-fsa/sherpa-onnx.git
